body
{
  margin: 0;
  padding: 0;
  justify-content: center;
}
.page
{
  text-align: center;
}
.image
{
  margin: 50px;
}
.table
{
  margin-left: 40vw;
  display: flex;
}
.column
{
  margin: 25px;
  display: grid;
}
.column img:hover
{
  cursor: pointer;
}